#titulo{
    color: aqua;
    font-style: italic;
}
#lists:hover {
    background-color: rgba(128, 128, 128, 0.699);
}
#peliculas{
    text-align: center;
    background-color: chartreuse;
}
#series:hover {
    background-color: aliceblue;
}